.films {
  margin: 70px 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 32px;
}
.more {
  display: flex;
  justify-content: center;
}
.movies-list__button {
  width: 320px;
  height: 36px;
  margin: 50px 0 80px;
  padding: 0;
  border: 1px solid #e8e8e8;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  font-style: normal;
  line-height: 15px;
  font-size: 12px;
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  .films {
    margin: 70px 30px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 24px;
    row-gap: 35px;
  }
}
@media screen and (max-width: 434px) {
  .films {
    margin: 40px 10px 0;
    grid-template-columns: auto;
    row-gap: 16px;
  }
  .movies-list__button {
    width: 240px;
  }
}
