.burger__container {
  position: fixed;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transition: visibility 0.7s, opacity 0.5s ease-in-out;
}

.burger__container_open {
  visibility: visible;
  opacity: 1;
}

.burger {
  top: 15px;
  right: 30px;
  position: absolute;
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/burger.svg);
  cursor: pointer;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  padding: 0;
}

.burger:hover {
  opacity: 0.7;
}

@media (max-width: 780px) {
  .burger {
    visibility: visible;
    opacity: 1;
    right: 16px;
    display: flex;
  }
}

.burger__cross {
  display: flex;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 22px;
  right: 22px;
  z-index: 6;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  border: none;
  background-image: url(../../images/close.svg);
  background-color: transparent;
  background-position: 50% 50%;
}

.burger__cross:hover {
  opacity: 0.7;
}

.burger__popup {
  position: fixed;
  display: none;
  flex-direction: column;
  height: 100%;
  width: 68%;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  background-color: #fff;
  justify-content: space-around;
  z-index: 3;
}

@media (max-width: 425px) {
  .burger__popup {
    width: 100%;
  }
  .burger {
    width: 40px;
    height: 43px;
    right: 14px;
  }
}

.burger__popup_open {
  display: flex;
}

.burger__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  text-decoration: none;
  margin: 0 16px 0 0;
  transition: opacity 0.2s ease-in-out;
}

.burger__link:hover {
  opacity: 0.7;
}

.burger__link:last-child {
  margin: 0;
}

.burger__link_active {
  font-weight: 500;
}

@media (max-width: 780px) {
  .burger__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 0 0 28px;
  }

  .burger__link_active {
    padding: 0 0 4px;
    border-bottom: 2px solid#000000;
  }
}

.burger__account {
  display: flex;
  margin: 0 auto;
}
