.root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}
