.message {
  width: 100%;
  min-height: 13px;
  margin: 0 0 20px;
}

.message__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
  text-align: center;
  margin: 0;
}

.message__text_type_success {
  color: #2be080;
}
